<%= form_with model: user, url: path_to_post do |f| %>
    <div>
        <div>
        ユーザ名 (１文字以上１６文字未満の半角英数字)
        </div>
        <%= f.text_field :user_name %>
    </div>
    <br>
    <div>
        <div>
        パスワード (１文字以上１６文字未満の半角英数字)
        </div>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.submit '登録' %>
    </div>
<% end %>