<h1>ログアウトしたページ</h1>

<%#= link_to '再ログインする', action: 'mypage' %>
<br />
<%= link_to 'ホームへ', url_for(action: 'show',only_path: false, user: '', password: '')  %>

<%#= javascript_include_tag "prohibit_browserback", "data-turbo-track": "reload", defer: true %>