<h1>マイページ</h1>

<div>
    <p>
        こんにちわ<%= @user.user_name %>さん。
    </p>

    <%= link_to 'チャットルーム一覧へ移動', controller: 'rooms', action: 'index' %>
    <br />
    <br />
    <%= link_to 'ログアウトします', url_for(action: 'logout',only_path: false, user: 'WT5CZXGqkwLuv05D', password: 'WT5CZXGqkwLuv05D') %>
</div>