<h1>アカウント情報表示</h1>

<div>
    <p>
        <%= 'this is test' %>
    </p>
    <p>
        <%# @userを特に形式にこだわりなく使用するときは以下の記述 %>
        <%#= @user['user_name'] %>

        <%# @userをハッシュからクラスインスタンスに変換（再生成）した場合は以下の記述ができる。 %>
        <%= @user.user_name %>
    </p>
    <%= link_to 'ログアウトします', action: 'logout' %>
</div>