<%= form_with class: class_name, editor_id: editor_id do |f| %>
    <div class="field">
        <%= f.label "伝えたいことを入力しよう。" %>
        <%= f.rich_text_area :content , id: editor_id %>
    </div>
    <div>
        <button type="button" class="send_content" id="send_button">送信</button>
    </div>
<% end %>