<h1>
    <%= @room.room_name %>
</h1>

<div>
    <% @chats.each do |chat| %>
        <p><%= chat.chat_text.content %></p>
    <% end %>
</div>

<div>
    <%= render 'form', chat_text: @chat_text, path_to_post: record_chat_room_path %>
</div>